@charset "UTF-8";
@font-face { font-family: 'Lato-Bold'; src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Lato-Regular'; src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: border-box; }

html, body { margin: 0; padding: 0; width: 100%; height: 100%; font-family: 'Lato-Regular', sans-serif; }

div, p, section, address, ul, ol, li, a { font-family: 'Lato-Regular', sans-serif; padding: 0; margin: 0; }

h1, h2, h3, h4, h5, h6 { font-family: 'Lato-Bold', sans-serif; padding: 0; margin: 0; }

.loader { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background: url("../images/loader.gif") 50% 50% no-repeat #f9f9f9; }

.index-full { position: relative; width: 100%; height: 100vh; background-color: #03153d; color: #fff; }
.index-full .login-logo { position: absolute; display: block; left: 0; top: 50%; }
.index-full .login-content { width: 100%; height: inherit; }
.index-full .login-content .page-header { margin-top: 30%; }
.index-full .login-content .page-header h3 { color: #fff; font-family: 'Lato-Regular', sans-serif; font-weight: 200; margin-bottom: 12%; }
.index-full .login-content .login-form p { color: #fff; font-weight: 500; font-family: 'Lato-Bold', sans-serif; margin-bottom: 5%; margin-top: 25%; }
.index-full .login-content .login-form form { margin-bottom: 0; }
.index-full .login-content .login-form .form .row:last-child .form-item, .index-full .login-content .login-form .form > .form-item:last-child { margin-bottom: 12px; }
.index-full .login-content .login-form input { background-color: rgba(255, 255, 255, 0.06); border: none; color: #fff; }
.index-full .login-content .login-form input::-webkit-input-placeholder { color: #fff; opacity: 0.8; }
.index-full .login-content .login-form input::-moz-placeholder { color: #fff; opacity: 0.8; }
.index-full .login-content .login-form input:-ms-input-placeholder { color: #fff; opacity: 0.8; }
.index-full .login-content .login-form input:-moz-placeholder { color: #fff; opacity: 0.8; }
.index-full .login-content .login-form .button.login { margin-top: 10px; color: #fff; background-color: #ff6f03; transition: all 0.2s ease-in-out; }
.index-full .login-content .login-form .button.login:hover { color: #fff; background-color: #ffa969; }
.index-full .login-content .login-form .button.login:disabled, .index-full .login-content .login-form .button.login.disabled { color: rgba(255, 255, 255, 0.7); background-color: rgba(255, 111, 3, 0.7); }
.index-full .login-content .login-form .button.login.outline { background: none; color: #ff6f03; border-color: #ff6f03; }
.index-full .login-content .login-form .button.login.outline:hover { color: rgba(255, 111, 3, 0.6); border-color: rgba(255, 111, 3, 0.5); }
.index-full .login-content .login-form .button.login.outline:disabled, .index-full .login-content .login-form .button.login.outline.disabled { background: none; color: rgba(255, 111, 3, 0.7); border-color: rgba(255, 111, 3, 0.5); }
.index-full .login-content .login-form .button.login:hover { background: #eb7e2d; }
.index-full .login-content .poweredby { margin-top: 25%; }

.dash-top { width: 100%; height: auto; background-color: #03153d; padding: 20px 32px; }
.dash-top .top-title { display: block; position: relative; width: 65%; height: auto; }
.dash-top .top-title img, .dash-top .top-title span { display: inline-block; position: relative; }
.dash-top .top-title span { color: #ffffff; font-size: 16px; font-weight: 800; }
.dash-top .top-title img { vertical-align: middle; width: 37px; height: 37px; margin-right: 8px; }
.dash-top .top-title:after { display: block; content: ''; width: 100%; line-height: 0px; margin: 3px 0 0; border: solid 1px rgba(129, 138, 158, 0.19); }
.dash-top .top-left-content { padding-top: 32px; padding-bottom: 32px; }
.dash-top .top-left-content .col.first, .dash-top .top-left-content .col.second { border-right: solid 1px rgba(129, 138, 158, 0.19); }
.dash-top .top-left-content p { font-size: 14px; color: #818a9e; font-weight: 300; }
.dash-top .top-left-content h1 { color: #ffffff; text-transform: uppercase; }
.dash-top .top-left-content h1.actv-dev { display: inline-block; position: relative; }
.dash-top .top-left-content h1.actv-dev + img { position: relative; display: inline-block; vertical-align: super; margin-bottom: 12%; }
.dash-top .top-left-content h1.new-dev { display: inline-block; position: relative; }
.dash-top .top-left-content h1.new-dev + img { position: relative; display: inline-block; }
.dash-top .top-left-content h1.data-usg { display: inline-block; position: relative; }
.dash-top .top-left-content h1.data-usg + img { position: relative; display: inline-block; }
.dash-top .top-left-content .bottom-feed { display: block; position: relative; padding-left: 29.7%; }
.dash-top .top-left-content .bottom-feed h4 { color: #ffffff; text-transform: uppercase; }
.dash-top .top-left-content .bottom-feed h4.data-down { display: inline-block; position: relative; }
.dash-top .top-left-content .bottom-feed h4.data-down + img { position: relative; display: inline-block; max-width: 10px; height: auto; }
.dash-top .graph-area { width: 100%; height: auto; }
.dash-top .graph-area .graph-header { color: #818a9e; font-family: 'Lato-Regular', sans-serif; font-weight: 200; font-size: 14px; padding-left: 25px; padding-bottom: 20px; }
.dash-top .graph-area .grafs-grid-first-line { opacity: 0.5; stroke-width: 0.5px; stroke: #818a9e; }
.dash-top .graph-area .grafs-grid-bottom-x circle { fill: transparent; }
.dash-top .graph-area .grafs-grid-bottom-x-labels .grafs-label { fill: white; font-family: 'Lato-Regular', sans-serif; font-weight: 200; font-size: 12px; }
.dash-top .graph-area .grafs-grid-left-y-labels .grafs-label { fill: white; font-family: 'Lato-Bold', sans-serif; font-weight: 500; font-size: 12px; }

.dash-body { width: 100%; position: relative; display: block; }
.dash-body .message.warning { background: rgba(255, 111, 3, 0.4); }
.dash-body .sub-content { height: inherit; }
.dash-body .sub-content .side-menu { background-color: #fff; padding-top: 24px; }
.dash-body .sub-content .side-menu .submenu ul { margin: 0; padding: 0; }
.dash-body .sub-content .side-menu .submenu ul li { list-style: none outside none; display: block; }
.dash-body .sub-content .side-menu .submenu ul li:hover a { opacity: 0.7; }
.dash-body .sub-content .side-menu .submenu ul li a { text-decoration: none; display: block; padding: 1rem; padding-left: 32px; color: #313439; transition: all 0.2s ease-in; }
.dash-body .sub-content .side-menu .submenu ul li a span img { margin-right: 5px; }
.dash-body .sub-content .side-menu .devlist { padding: 0; }
.dash-body .sub-content .side-menu .devlist p { font-family: 'Lato-Bold', sans-serif; font-size: 14px; padding: 1rem; padding-left: 32px; text-transform: uppercase; }
.dash-body .sub-content .side-menu .devlist .sublist { margin: 0; padding: 0; }
.dash-body .sub-content .side-menu .devlist .sublist li { list-style: none outside none; }
.dash-body .sub-content .side-menu .devlist .sublist li.active a, .dash-body .sub-content .side-menu .devlist .sublist li:hover a { border-left: solid 3px #ff6f03; color: #ff6f03; font-weight: bold; }
.dash-body .sub-content .side-menu .devlist .sublist li a { padding-left: 32px; padding-top: 0.5rem; padding-bottom: 0.5rem; transition: all 0.2s ease-in-out; text-decoration: none; color: #838b91; font-size: 12px; line-height: 1.33; text-transform: uppercase; }
.dash-body .sub-content .main-area { background-color: #f4f7f9; padding-top: 24px; padding-left: 32px; padding-bottom: 5%; }
.dash-body .body-logo { display: block; position: relative; }
.dash-body .body-logo img { max-width: 75%; height: auto; padding-left: 32px; }
.dash-body .tabs ul { border: none; }
.dash-body .tabs a, .dash-body .tabs em { color: #838b91; font-size: 16px; text-transform: uppercase; font-family: 'Lato-Bold', sans-serif; font-weight: 500; text-decoration: none; border: none; }
.dash-body .tabs li.active a { border: none; }
.dash-body .data_container { padding-left: 1rem; padding-right: 1rem; margin-top: 34px; }
.dash-body .data_container #client-collapse.table-content h4 { font-size: 15px; border-bottom: solid 1px #e7e7e7; }
.dash-body .data_container #client-collapse.table-content h4:last-child { border: none; }
.dash-body .data_container #client-collapse.table-content h4 a { font-family: 'Lato-Regular', sans-serif; text-decoration: none; display: block; width: 100%; font-weight: 300; transition: all 0.6s ease-in-out; }
.dash-body .data_container #client-collapse.table-content h4 a div { text-decoration: none; }
.dash-body .data_container #client-collapse.table-content h4 a:hover, .dash-body .data_container #client-collapse.table-content h4 a.active { color: #333; }
.dash-body .data_container #client-collapse.table-content h4 a:hover div.tContent, .dash-body .data_container #client-collapse.table-content h4 a.active div.tContent { color: #fff; background: #00266f; }
.dash-body .data_container #client-collapse.table-content h4 a div.tContent { background-color: #fff; padding: 1rem; }
.dash-body .data_container #client-collapse.table-content h4 a div.tContent div.status { color: #7ed321; font-family: 'Lato-Bold', sans-serif; }
.dash-body .data_container #client-collapse.table-content h4 a div.tContent div.status span img { margin-right: 5px; }
.dash-body .data_container #client-collapse.table-content h4 a div.tContent div.status_off { color: #838b91; font-family: 'Lato-Bold', sans-serif; }
.dash-body .data_container #client-collapse.table-content h4 a div.tContent div.status_off span img { margin-right: 5px; }
.dash-body .data_container #client-collapse.table-content .tHeader { background-color: rgba(0, 38, 112, 0.13); color: #011627; font-weight: 700; padding: 1rem; margin: 0; }
.dash-body .data_container #client-collapse.table-content .tContent { background-color: #fff; padding: 1rem; }
.dash-body .data_container #client-collapse.table-content .tContent .status { color: #7ed321; font-family: 'Lato-Bold', sans-serif; }
.dash-body .data_container #client-collapse.table-content .tContent .status span img { margin-right: 5px; }
.dash-body .data_container #client-collapse.table-content .tContent .status_off { color: #838b91; font-family: 'Lato-Bold', sans-serif; }
.dash-body .data_container #client-collapse.table-content .tContent .status_off span img { margin-right: 5px; }
.dash-body .data_container #client-collapse.table-content .client-data { background: #fff; display: block; }
.dash-body .data_container #client-collapse.table-content .tClientData { padding-top: 28px; padding-bottom: 68px; width: 95%; margin-left: auto; margin-right: auto; }
.dash-body .data_container #client-collapse.table-content .tClientData .col.col-6 .button.setlimit { margin-right: 7.5rem; }
.dash-body .data_container #client-collapse.table-content .tClientData .col.col-6 .textAllocated { margin-bottom: 2rem; margin-left: 4.4rem; }
.dash-body .data_container #client-collapse.table-content .tClientData .col.col-6 .progressarea { width: 80%; margin-left: auto; margin-right: auto; margin-top: 5%; margin-bottom: 4%; }
.dash-body .data_container #client-collapse.table-content .tClientData .col.col-6 .progressarea progress[value].dataprogress { -webkit-appearance: none; -moz-appearance: none; appearance: none; width: 90%; height: 8px; margin-bottom: 7px; margin-left: auto; margin-right: auto; }
.dash-body .data_container #client-collapse.table-content .tClientData .col.col-6 .progressarea progress[value].dataprogress::-webkit-progress-bar { background-color: #edf3f6; border-radius: 100px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset; }
.dash-body .data_container #client-collapse.table-content .tClientData .col.col-6 .progressarea progress[value].dataprogress::-webkit-progress-value { border-radius: 100px; background-image: -webkit-linear-gradient(left, #81d135, #fb4c4e); }
.dash-body .data_container #client-collapse.table-content .tClientData .col.col-6 .progressarea .progress_desc { margin-top: -7px; }
.dash-body .data_container #client-collapse.table-content .tClientData .col.col-6 .progressarea .progress_desc span { font-size: 12px; font-family: 'Lato-Bold', sans-serif; }
.dash-body .data_container #client-collapse.table-content .tClientData .col.col-6 .progressarea .progress_desc span.fulld { float: right; margin-right: 58px; color: #fe4a49; }
.dash-body .data_container #client-collapse.table-content .tClientData .col.col-6 .progressarea .progress_desc span.used { color: #011627; }
.dash-body .data_container #client-collapse.table-content .tClientData .col.col-4 .row.gutters .col.col-2.text-center { position: relative; }
.dash-body .data_container #client-collapse.table-content .tClientData .col.col-4 .row.gutters .col.col-2.text-center .divwrapper { position: relative; display: block; height: 92px; margin: 10px; }
.dash-body .data_container #client-collapse.table-content .tClientData .col.col-4 .row.gutters .col.col-2.text-center .vertDivider { border-left: 1px solid #838b91; height: 92px; position: absolute; left: 51%; opacity: 0.22; }
.dash-body .data_container #client-collapse.table-content .tClientData p.textAllocated { color: #838b91; font-family: 'Lato-Bold', sans-serif; font-size: 14px; margin-left: 3rem; }
.dash-body .data_container #client-collapse.table-content .tClientData .allocField p { color: #011627; font-size: 12px; font-family: 'Lato-Bold', sans-serif; }
.dash-body .data_container #client-collapse.table-content .tClientData .allocField .dl-cap { color: #7ed321; font-size: 48px; font-family: 'Lato-Bold', sans-serif; }
.dash-body .data_container #client-collapse.table-content .tClientData .allocField .ul-cap { font-size: 48px; font-family: 'Lato-Bold', sans-serif; color: #00a4e0; }
.dash-body .data_container #client-collapse.table-content .button.block { color: #fff; background-color: #fe4a49; transition: all 0.2s ease-in-out; border-radius: 5px; height: 34px; font-size: 14px; font-family: 'Lato-Bold', sans-serif; }
.dash-body .data_container #client-collapse.table-content .button.block:hover { color: #fff; background-color: #ffafae; }
.dash-body .data_container #client-collapse.table-content .button.block:disabled, .dash-body .data_container #client-collapse.table-content .button.block.disabled { color: rgba(255, 255, 255, 0.7); background-color: rgba(254, 74, 73, 0.7); }
.dash-body .data_container #client-collapse.table-content .button.block.outline { background: none; color: #fe4a49; border-color: #fe4a49; }
.dash-body .data_container #client-collapse.table-content .button.block.outline:hover { color: rgba(254, 74, 73, 0.6); border-color: rgba(254, 74, 73, 0.5); }
.dash-body .data_container #client-collapse.table-content .button.block.outline:disabled, .dash-body .data_container #client-collapse.table-content .button.block.outline.disabled { background: none; color: rgba(254, 74, 73, 0.7); border-color: rgba(254, 74, 73, 0.5); }
.dash-body .data_container #client-collapse.table-content .button.block:hover { opacity: 0.88; background: #fe4a49; }
.dash-body .data_container #client-collapse.table-content .button.setlimit { color: #838b91; background-color: #838b91; margin-top: 40px; font-size: 14px; font-family: 'Lato-Bold', sans-serif; height: 34px; border-radius: 5px; margin-right: 3rem; }
.dash-body .data_container #client-collapse.table-content .button.setlimit:hover { color: #838b91; background-color: #b9bec1; }
.dash-body .data_container #client-collapse.table-content .button.setlimit:disabled, .dash-body .data_container #client-collapse.table-content .button.setlimit.disabled { color: rgba(131, 139, 145, 0.7); background-color: rgba(131, 139, 145, 0.7); }
.dash-body .data_container #client-collapse.table-content .button.setlimit.outline { background: none; color: #838b91; border-color: #838b91; }
.dash-body .data_container #client-collapse.table-content .button.setlimit.outline:hover { color: rgba(131, 139, 145, 0.6); border-color: rgba(131, 139, 145, 0.5); }
.dash-body .data_container #client-collapse.table-content .button.setlimit.outline:disabled, .dash-body .data_container #client-collapse.table-content .button.setlimit.outline.disabled { background: none; color: rgba(131, 139, 145, 0.7); border-color: rgba(131, 139, 145, 0.5); }
.dash-body .data_container table thead, .dash-body .data_container table tfoot { background-color: rgba(0, 38, 112, 0.13); }
.dash-body .data_container table thead td, .dash-body .data_container table thead th, .dash-body .data_container table tfoot td, .dash-body .data_container table tfoot th { color: #011627; }
.dash-body .data_container table tbody { background-color: #ffffff; }
.dash-body .data_container table tbody tr:hover { cursor: pointer; }
.dash-body .data_container table td:first-child, .dash-body .data_container table th:first-child { padding-left: 1rem; }
.dash-body .data_container table td.status { color: #7ed321; font-family: 'Lato-Bold', sans-serif; }
.dash-body .data_container table td.status span img { margin-right: 5px; }
.dash-body .data_container table td.status_off { color: #838b91; font-family: 'Lato-Bold', sans-serif; }
.dash-body .data_container table td.status_off span img { margin-right: 5px; }
.dash-body .data_container #output { display: block; position: relative; }
.dash-body .simple-pagination { margin-left: 15px; }
.dash-body .light-theme .current { background: #03153d; border: none; }
.dash-body .light-theme a, .dash-body .light-theme span { background: #66c6ec; color: #fff; border: none; }

.overlay { background-color: rgba(3, 21, 61, 0.78); }

.modal { border-radius: 3px; }

#client-details1 .modal .close, #client-details2 .modal .close { opacity: .8; }
#client-details1 .modal-header, #client-details2 .modal-header { border-bottom: 0; color: #00266f; font-family: 'Lato-Bold', sans-serif; font-weight: 800; }
#client-details1 .limit-header, #client-details2 .limit-header { color: #011627; font-size: 16px; margin-bottom: 42px; }
#client-details1 input[type=text], #client-details2 input[type=text] { margin-bottom: 12px; border: solid 1px #838b91; border-radius: 3px; padding: 14px 16px 17px 16px; height: 48px; }
#client-details1 input.mdl, #client-details2 input.mdl { color: #7ed321; }
#client-details1 input.mul, #client-details2 input.mul { color: #00a4e0; margin-bottom: 16px; }
#client-details1 input.mdl::-webkit-input-placeholder, #client-details2 input.mdl::-webkit-input-placeholder { color: #7ed321; }
#client-details1 input.mdl::-moz-placeholder, #client-details2 input.mdl::-moz-placeholder { color: #7ed321; }
#client-details1 input.mdl:-ms-input-placeholder, #client-details2 input.mdl:-ms-input-placeholder { color: #7ed321; }
#client-details1 input.mdl:-moz-placeholder, #client-details2 input.mdl:-moz-placeholder { color: #7ed321; }
#client-details1 input.mul::-webkit-input-placeholder, #client-details2 input.mul::-webkit-input-placeholder { color: #00a4e0; }
#client-details1 input.mul::-moz-placeholder, #client-details2 input.mul::-moz-placeholder { color: #00a4e0; }
#client-details1 input.mul:-ms-input-placeholder, #client-details2 input.mul:-ms-input-placeholder { color: #00a4e0; }
#client-details1 input.mul:-moz-placeholder, #client-details2 input.mul:-moz-placeholder { color: #00a4e0; }
#client-details1 label, #client-details2 label { font-family: 'Lato-Bold', sans-serif; color: #011627; font-size: 16px; }
#client-details1 .button.update, #client-details2 .button.update { color: #fff; background-color: #00266f; font-size: 14px; font-family: 'Lato-Bold', sans-serif; transition: all 0.2s ease-in-out; }
#client-details1 .button.update:hover, #client-details2 .button.update:hover { color: #fff; background-color: #0049d5; }
#client-details1 .button.update:disabled, #client-details1 .button.update.disabled, #client-details2 .button.update:disabled, #client-details2 .button.update.disabled { color: rgba(255, 255, 255, 0.7); background-color: rgba(0, 38, 111, 0.7); }
#client-details1 .button.update.outline, #client-details2 .button.update.outline { background: none; color: #00266f; border-color: #00266f; }
#client-details1 .button.update.outline:hover, #client-details2 .button.update.outline:hover { color: rgba(0, 38, 111, 0.6); border-color: rgba(0, 38, 111, 0.5); }
#client-details1 .button.update.outline:disabled, #client-details1 .button.update.outline.disabled, #client-details2 .button.update.outline:disabled, #client-details2 .button.update.outline.disabled { background: none; color: rgba(0, 38, 111, 0.7); border-color: rgba(0, 38, 111, 0.5); }
#client-details1 .button.update:hover, #client-details2 .button.update:hover { background: rgba(0, 38, 111, 0.88); }
#client-details1 .wrapper, #client-details2 .wrapper { position: relative; height: 70%; margin: 10px; }
#client-details1 .line, #client-details2 .line { position: absolute; left: 49%; top: 0; bottom: 0; width: 1px; background: rgba(3, 41, 109, 0.21); z-index: 1; }
#client-details1 .wordwrapper, #client-details2 .wordwrapper { text-align: center; height: 12px; position: absolute; left: 0; right: 0; top: 50%; margin-top: -12px; z-index: 2; }
#client-details1 .word, #client-details2 .word { color: rgba(3, 41, 109, 0.21); text-transform: uppercase; letter-spacing: 1px; padding: 3px; font-family: 'Lato-Regular', sans-serif; font-size: 14px; background: #fff; }

.button { position: relative; text-transform: uppercase; letter-spacing: .04em; font-size: 14px; }
.button.spinner { color: transparent; }
.button.spinner:hover { color: transparent; }
.button.hidden { color: #ffffff; background-color: #ffffff; position: relative; }
.button.hidden:hover { color: #ffffff; background-color: white; }
.button.hidden:disabled, .button.hidden.disabled { color: rgba(255, 255, 255, 0.7); background-color: rgba(255, 255, 255, 0.7); }
.button.hidden.outline { background: none; color: #ffffff; border-color: #ffffff; }
.button.hidden.outline:hover { color: rgba(255, 255, 255, 0.6); border-color: rgba(255, 255, 255, 0.5); }
.button.hidden.outline:disabled, .button.hidden.outline.disabled { background: none; color: rgba(255, 255, 255, 0.7); border-color: rgba(255, 255, 255, 0.5); }
.button.hidden.spinner { color: transparent; }
.button.hidden.spinner:hover { color: transparent; }

@keyframes spinner { to { -webkit-transform: rotate(360deg); transform: rotate(360deg); } }
@-webkit-keyframes spinner { to { -webkit-transform: rotate(360deg); } }
.spinner { min-width: 24px; min-height: 24px; }

.spinner:before { content: 'Loading…'; position: absolute; top: 50%; left: 80%; width: 18px; height: 18px; margin-top: -10px; margin-left: -10px; }

.spinner:not(:required):before { content: ''; border-radius: 50%; border: 2px solid #f8f8f8; border-top-color: #313439; animation: spinner .6s linear infinite; -webkit-animation: spinner .6s linear infinite; }
