@import 'third-party/kube';

// Font face definitions
@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Bold.woff') format('woff'),
       url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.woff') format('woff'),
       url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// site wide variables
$dash-bg-color: #03153d;
$accent-color: #ff6f03;
$content-bg-color: #f4f7f9;
$dash-text-gray: #818a9e;
$dash-text-white: #ffffff;
$content-text-gray: #838b91;
$dash-green: #7ed321;
$dash-red: #fe4a49;
$table-header: #002670;
$table-header-text: #011627;
$table-body-bg: #ffffff;

$padding-top-small: 16px;
$padding-top-med: 24px;
$padding-top-large: 32px;

$padding-left-small: 16px;
$padding-left-med: 24px;
$padding-left-large: 32px;

$padding-bottom-small: 16px;
$padding-bottom-med: 24px;
$padding-bottom-large: 32px;

$padding-right-small: 16px;
$padding-right-med: 24px;
$padding-right-large: 32px;

$margin-top-small: 16px;
$margin-top-med: 24px;
$margin-top-large:32px;

$margin-left-small: 16px;
$margin-left-med: 24px;
$margin-left-large:32px;

$margin-bottom-small: 16px;
$margin-bottom-med: 24px;
$margin-bottom-large: 32px;

$margin-right-small: 16px;
$margin-right-med: 24px;
$margin-right-large:32px;

html {
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: border-box;
}

html, body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    font-family: 'Lato-Regular', sans-serif;
}

div, p, section, address, ul, ol, li, a{
    font-family: 'Lato-Regular', sans-serif;
    padding:0; margin:0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lato-Bold', sans-serif;
    padding:0; margin:0;
}
.loader{
    position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
.index-full{
    position:relative;
    width:100%;
    height:100vh;
    background-color: $dash-bg-color;
    color:#fff;

    .login-logo{
        position:absolute;
        display:block;
        left:0;
        top:50%;
    }

    .login-content{
        width:100%;
        height:inherit;
        .page-header{
            margin-top:30%;
            h3{
                color:#fff;
                font-family: 'Lato-Regular', sans-serif;
                font-weight:200;
                margin-bottom:12%;
            }
        }
        .login-form{
            p{
                color:#fff;
                font-weight:500;
                font-family: 'Lato-Bold', sans-serif;
                margin-bottom: 5%;
                margin-top:25%;
            }

            form{
                margin-bottom:0;
            }

            .form .row:last-child .form-item, .form>.form-item:last-child{
                margin-bottom:12px;
            }

            input{
                background-color: rgba(255, 255, 255, 0.06);
                border:none;
                color:#fff;
            }
            input::-webkit-input-placeholder{
                color:#fff;
                opacity: 0.8;
            }
            input::-moz-placeholder{
                color:#fff;
                opacity: 0.8;
            }
            input:-ms-input-placeholder{
                color:#fff;
                opacity: 0.8;
            }
            input:-moz-placeholder{
                color:#fff;
                opacity: 0.8;
            }

            .button.login{
                margin-top:10px;
                @include button(#fff, $accent-color);
                @include transition(all 0.2s ease-in-out);

                &:hover{
                    background: #eb7e2d;
                }
            }
        }

        .poweredby{
            margin-top:25%;
        }
    }
}

.dash-top{
    width:100%;
    height:auto;
    background-color: $dash-bg-color;
    padding:20px 32px;

    .top-title{
        display:block;
        position:relative;
        width:65%;
        height: auto;

        img, span{
            display:inline-block;
            position:relative;
        }

        span{
            color: $dash-text-white;
            font-size:16px;
            font-weight:800;
        }
        img{
            vertical-align: middle;
            width:37px; height:37px;
            margin-right:8px;
        }

        &:after{
            display:block;
            content: '';
            width:100%;
            line-height:0px;
            margin:3px 0 0;
            border: solid 1px rgba($dash-text-gray, 0.19);
        }
    }

    .top-left-content{
        padding-top: $padding-top-large;
        padding-bottom: $padding-bottom-large;

        .col{
            &.first,
            &.second{
                border-right: solid 1px rgba($dash-text-gray, 0.19);
            }
        }

        p{
            font-size:14px;
            color:$dash-text-gray;
            font-weight:300;
        }

        h1{
            color: $dash-text-white;
            text-transform: uppercase;

            &.actv-dev{
                display:inline-block; position:relative;

                +img{
                    position:relative; display:inline-block;
                    vertical-align: super;
                    margin-bottom:12%;
                }
            }

            &.new-dev{
                display:inline-block; position:relative;

                +img{
                    position:relative; display:inline-block;
                }
            }

            &.data-usg{
                display:inline-block; position:relative;

                +img{
                    position:relative; display:inline-block;
                }
            }
        }
        
        .bottom-feed{
            display:block;
            position:relative;
            padding-left:29.7%;
            h4{
            color:$dash-text-white;
            text-transform:uppercase;

            &.data-down{
                display:inline-block; position:relative;

                +img{
                    position:relative; display:inline-block;
                    max-width:10px; height:auto;
                }
            }
        }
        }
    }

    .graph-area{
        width:100%;
        height:auto;

        .graph-header{
            color: $dash-text-gray;
            font-family: 'Lato-Regular', sans-serif;
            font-weight:200;
            font-size: 14px;
            padding-left:25px;
            padding-bottom:20px;
        }

        .grafs-grid-first-line{
            opacity: 0.5;
            stroke-width: 0.5px;
            stroke: $dash-text-gray;
        }
        .grafs-grid-bottom-x{
            circle{
                fill: rgba(0, 0, 0, 0);
            }
        }
        .grafs-grid-bottom-x-labels .grafs-label{
            fill: rgba(255, 255, 255, 1);
            font-family: 'Lato-Regular', sans-serif;
            font-weight:200;
            font-size:12px;
        }

        .grafs-grid-left-y-labels .grafs-label{
            fill: rgba(255, 255, 255, 1);
            font-family: 'Lato-Bold', sans-serif;
            font-weight: 500;
            font-size:12px;
        }
    }
}

.dash-body{
    width:100%;
    position:relative;
    display:block;
    // height:100%;

    .message.warning{
        background: rgba($accent-color, 0.4);
    }

    .sub-content{
        height:inherit;

        .side-menu{
            background-color: #fff;
            padding-top: $padding-top-med;
            // padding-left: $padding-left-large;

            .submenu{
                ul{
                    margin:0;
                    padding:0;

                    li{
                        list-style: none outside none;
                        display:block;

                        &:hover{
                            a{
                                opacity: 0.7;
                            }
                        }

                        a{
                            text-decoration:none;
                            display:block;
                            padding:1rem;
                            padding-left: 32px;
                            color:$color-text;
                            @include transition(all .2s ease-in);

                            span{
                                img{
                                    margin-right:5px;
                                }
                            }
                        }
                    }
                }
            }

            .devlist{
                padding:0;

                p{
                    font-family: 'Lato-Bold', sans-serif;
                    font-size:14px;
                    padding:1rem;
                    padding-left: 32px;
                    text-transform: uppercase;
                }

                .sublist{
                    margin:0;
                    padding:0;

                    li{
                        list-style: none outside none;

                        &.active, &:hover{
                            a{
                                border-left: solid 3px $accent-color;
                                color: $accent-color;
                                font-weight: bold;
                            }
                        }

                        a{
                            padding-left: 32px;
                            padding-top:0.5rem;
                            padding-bottom:0.5rem;
                            @include transition(all 0.2s ease-in-out);
                            text-decoration: none;
                            color: $content-text-gray;
                            font-size: 12px; line-height:1.33;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
        .main-area{
            background-color: $content-bg-color;
            padding-top: $padding-top-med;
            padding-left: $padding-left-large;
            padding-bottom: 5%;
        }
    }

    .body-logo{
        display:block;
        position:relative;

        img{
            max-width:75%;
            height:auto;
            padding-left: 32px;
        }
    }

    .tabs ul{
        border:none;
    }

    .tabs a, .tabs em{
        color:$content-text-gray;
        font-size:16px;
        text-transform: uppercase;
        font-family:'Lato-Bold', sans-serif;
        font-weight:500;
        text-decoration:none;
        border:none;
    }

    .tabs li{
        &.active{
            a{
                border:none;
            }
        }
    }

    .data_container{
        padding-left:1rem;
        padding-right:1rem;
        margin-top:34px;

        #client-collapse.table-content{
            h4{
                font-size:15px;
                border-bottom: solid 1px #e7e7e7;

                &:last-child{
                    border:none;
                }
                a{
                    font-family: 'Lato-Regular', sans-serif;
                    text-decoration:none;
                    display:block;width:100%;
                    font-weight:300;
                    @include transition(all 0.6s ease-in-out);

                    div{
                        text-decoration:none;
                    }

                    &:hover, &.active{
                        color:#333;
                        div.tContent{
                            color: #fff;
                            background: #00266f;
                        }
                        
                    }

                    div.tContent{
                        background-color:#fff;
                        padding: 1rem;

                        div.status{
                            color: $dash-green;
                            font-family: 'Lato-Bold', sans-serif;

                            span{
                                img{
                                    margin-right:5px;
                                }
                            }
                        }
                        div.status_off{
                            color: $content-text-gray;
                            font-family: 'Lato-Bold', sans-serif;

                            span{
                                img{
                                    margin-right:5px;
                                }
                            }
                        }
                    }
                }
                
            }
            .tHeader{
                background-color: rgba($table-header, 0.13);
                color:$table-header-text;
                font-weight:700;
                padding:1rem;
                margin:0;  
            }
            .tContent{
                background-color:#fff;
                padding: 1rem;

                .status{
                    color: $dash-green;
                    font-family: 'Lato-Bold', sans-serif;

                    span{
                        img{
                            margin-right:5px;
                        }
                    }
                }
                .status_off{
                    color: $content-text-gray;
                    font-family: 'Lato-Bold', sans-serif;

                    span{
                        img{
                            margin-right:5px;
                        }
                    }
                }
            }

            .client-data{
                background: #fff;
                display:block;
            }

            .tClientData{
                padding-top:28px;
                padding-bottom:68px;
                width:95%;
                margin-left:auto;margin-right:auto;

                .col.col-6{
                    .button.setlimit{
                        margin-right:7.5rem;
                    }
                    .textAllocated{
                        margin-bottom:2rem;
                        margin-left:4.4rem;
                    }
                    .progressarea{
                        width:80%;
                        margin-left:auto;
                        margin-right:auto;
                        margin-top:5%;
                        margin-bottom:4%;
                        progress[value].dataprogress{
                            -webkit-appearance: none;
                            appearance: none;
                            width:90%;
                            height:8px;
                            margin-bottom:7px;
                            margin-left:auto;
                            margin-right:auto;

                            &::-webkit-progress-bar{
                                background-color:#edf3f6;
                                border-radius: 100px;
                                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
                            }

                            &::-webkit-progress-value{
                                border-radius:100px;
                                background-image: -webkit-linear-gradient(left, #81d135, #fb4c4e);
                                // background-size: 35px 20px, 100% 100%, 100% 100%;
                            }
                        }
                        .progress_desc{
                            margin-top:-7px;

                            span{
                                font-size:12px;
                                font-family: 'Lato-Bold', sans-serif;

                                &.fulld{
                                    float:right;
                                    margin-right:58px;
                                    color:#fe4a49;
                                }
                                &.used{
                                    color:#011627;
                                }
                            }
                        }
                    }
                    
                }
                .col.col-4{
                    .row.gutters{
                        .col.col-2.text-center{
                            position:relative;
                            .divwrapper{
                                // width: 100%;
                                position:relative;
                                display:block;
                                height:92px; margin:10px;
                            }
                            .vertDivider{
                                border-left:1px solid #838b91;
                                height:92px;
                                position:absolute;
                                left:51%;
                                opacity:0.22;
                            }
                        }
                    }
                }
                
                

                p.textAllocated{
                    color:#838b91;
                    font-family: 'Lato-Bold', sans-serif;
                    font-size:14px;
                    margin-left:3rem;
                }

                .allocField{
                    p{
                        color: #011627;
                        font-size:12px;
                        font-family: 'Lato-Bold', sans-serif;
                    }

                    .dl-cap{
                        color:#7ed321;
                        font-size:48px;
                        font-family:'Lato-Bold', sans-serif;
                    }
                    .ul-cap{
                        font-size:48px;
                        font-family: 'Lato-Bold', sans-serif;
                        color:#00a4e0;
                    }
                }
                
            }

            .button.block{
                @include button(#fff, #fe4a49);
                @include transition(all .2s ease-in-out);
                border-radius:5px;
                height:34px;
                font-size:14px; font-family: 'Lato-Bold', sans-serif;

                &:hover{
                    opacity:0.88;
                    background: #fe4a49;
                }
            }
            .button.setlimit{
                @include button(#838b91, #838b91);
                margin-top:40px;
                font-size:14px;
                font-family: 'Lato-Bold', sans-serif;
                height:34px; border-radius: 5px;
                margin-right:3rem;
            }

            
        }

        table{
            thead, tfoot{
                background-color: rgba($table-header, 0.13);

                td, th{
                    color:$table-header-text;
                }
            }
            tbody{
                background-color: $table-body-bg;

                tr{
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            td:first-child, th:first-child{
                padding-left:1rem;
            }

            td{
                &.status{
                    color: $dash-green;
                    font-family: 'Lato-Bold', sans-serif;

                    span{
                        img{
                            margin-right:5px;
                        }
                    }
                }
                &.status_off{
                    color: $content-text-gray;
                    font-family: 'Lato-Bold', sans-serif;

                    span{
                        img{
                            margin-right:5px;
                        }
                    }
                }
            }
        }

        #output{
            display: block;
            position:relative;
        }
    }

    .simple-pagination{
        margin-left:15px;
    }

    .light-theme .current{
        background: $dash-bg-color;
        border:none;
    }

    .light-theme a, .light-theme span{
        background: #66c6ec;
        color: #fff;
        border: none;
    }
}

.overlay{
    background-color: rgba(3, 21, 61, 0.78);
}
.modal{
    border-radius:3px;
}

#client-details1,
#client-details2{
    .modal .close{
        opacity: .8;
    }

    .modal-header{
        border-bottom:0;
        color:#00266f;
        font-family: 'Lato-Bold', sans-serif;
        font-weight:800;
    }

    .limit-header{
        color:#011627;
        font-size:16px;
        margin-bottom:42px;
    }

    input[type=text]{
        margin-bottom:12px;
        border: solid 1px #838b91;
        border-radius: 3px;
        padding:14px 16px 17px 16px;
        height:48px;
    }
    input.mdl{
        color: #7ed321;
    }

    input.mul{
        color:#00a4e0;
        margin-bottom:16px;
    }

    input.mdl::-webkit-input-placeholder{
        color: #7ed321;
    }
    input.mdl::-moz-placeholder{
        color: #7ed321;
    }
    input.mdl:-ms-input-placeholder{
        color: #7ed321;
    }
    input.mdl:-moz-placeholder{
        color: #7ed321;
    }

    input.mul::-webkit-input-placeholder{
        color:#00a4e0;
    }
    input.mul::-moz-placeholder{
        color:#00a4e0;
    }
    input.mul:-ms-input-placeholder{
        color:#00a4e0;
    }
    input.mul:-moz-placeholder{
        color:#00a4e0;
    }

    label{
        font-family: 'Lato-Bold', sans-serif;
        color:#011627;
        font-size:16px;
    }

    .button.update{
        @include button(#fff, #00266f);
        font-size: 14px;
        font-family: 'Lato-Bold', sans-serif;
        @include transition(all .2s ease-in-out);

        &:hover{
            background: rgba(#00266f, 0.88);
        }
    }

    .wrapper{
        position: relative;
        height:70%;
        // border: 1px dashed #ccc;
        margin: 10px;
    }
    .line{
        position: absolute;
        left: 49%;
        top: 0;
        bottom: 0;
        width: 1px;
        background: rgba(#03296d, 0.21);
        z-index: 1;
    }
    .wordwrapper{
        text-align: center;
        height: 12px;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        margin-top: -12px;
        z-index: 2;
    }
    .word{
        color: rgba(#03296d, 0.21);
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 3px;
        font-family: 'Lato-Regular', sans-serif;
        font-size:14px;
        background: #fff;
    }
}

.button {
  position: relative;
  text-transform: uppercase;
  letter-spacing: .04em;
  font-size: 14px;
  &.spinner {
    color: transparent;
    &:hover {
      color: transparent;
    }
  } // button types
  &.hidden {
    @include button($table-body-bg,
    $table-body-bg);
    position: relative;
    &.spinner {
      color: transparent;
      &:hover {
        color: transparent;
      }
    }
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.spinner {
  min-width: 24px;
  min-height: 24px;
}

.spinner:before {
  content: 'Loading…';
  position: absolute;
  top: 50%;
  left: 80%;
//   left:90%;
  width: 18px;
  height: 18px;
  margin-top: -10px;
  margin-left: -10px;
}

.spinner:not(:required):before {
  content: '';
  border-radius: 50%;
  border: 2px solid $color-aluminum;
  border-top-color: $color-darkgray;
  animation: spinner .6s linear infinite;
  -webkit-animation: spinner .6s linear infinite;
}